<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/rudy.jpg" alt="Rudy Nurafif" class="img-thumbnail rounded-circle" width="200px">
      <h1 class="display-4">Rudy Nurafif</h1>
      <p class="lead">Junior Web Developer</p>
    </div>
  </div>
</div>